body { 
    background: grey !important; 
    }
.jumbotron{
    height: 100px;
    background: white !important;
}
.col-9{
    background-color: aqua;
}
.container{
    /* box-sizing: content-box; */
    background-color:white;
    /* height:500px */
  }









